* {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./image/bg1.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    align-items: center;
}

.over {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    background-blend-mode: multiply;
}

#loading {
    z-index: 50;
    background-color: #000000e9;
    animation: ease-in-out;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

.weekdays {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #fff8;
    background-color: #fff1;
    background-blend-mode: multiply;
    width: 100vw;
    height: 30vh;
}

.weekdays ul {
    padding: 40px;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    gap: 1px;
}

.weekdays ul li {
    color: #000;
    border-left: 1px solid ;
    padding: 12px;
    background-color: #fff8;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.weekdays ul li h2 {
    font-size: larger;
    font-weight: 700;
}

.weekdays ul li p {
    font-size: 40px;
}

.weekdays ul li img {
    width: 50px;
    height: 50px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff8;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 40px;   
}

.title {
    height: 8vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title h1 {
    font-size: 2.5rem;
    color: #fff;
}

.title h2 {
    font-weight:100;
    font-size: 1.2rem;
}

.toggle {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff8;
    display: flex;
    animation: 1s ease-in-out;
    cursor: pointer;
}

.F, .C {
    text-align: center;
    color: #fff;
    flex-grow: 1;
}

.C.active, .F.active {
    background-color: #fff;  
    color: #000;
}

main {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

.temperature {
    color: #fff;
    font-size: 12rem;
    position: relative;
}

.temperature span {
    position: absolute;
    font-size: 5rem;
    top: 30px;
}

.temperature span sup {
    font-size: 3rem;
}

.search {
    position: relative;
    width: 30vw;
    height: 40px;
    border-bottom: 1px solid #fff9;
    border-bottom-right-radius: 18px;
}

.search input{
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 16px;
}

.search input:focus {
    outline: none;
}

.search button {
    background: none;
    border: none;
    width: 25px;
    position: absolute;
    right: 5px;
    bottom: 50%;
    background-image: url("./image/11.png");
    height: 25px;
    background-size: contain;
    transform: translateY(50%);
    animation: 2s;
    opacity: 0.5;
    cursor: pointer;
}

.search button:hover {
    opacity: 0.7;
    /* transform: scale(1.1); */
}

.meteo {
    position: absolute;
    right: 40px;
    width: 130px;
    height: 40vh;
    top: 50%;
    transform: translateY(-80%);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.meteo li {
    color: #fff8;
    display: flex;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}

.meteo li img {
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.meteo li span {
    color: #fff;
    font-size: 24px;
}